<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
      
    <title>Connect Learn Teach</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="indigo lighten-4">
     {{!--Navbar  --}}
    <nav>
        <div class="nav-wrapper indigo darken-2">
            <a href="/" class="brand-logo">💻</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Dashboard</a></li>
                {{#if logged_in}}
                <li><a id="logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>                
                {{/if}}
            </ul>
        </div>
    </nav>
    {{!-- mobile navbar --}}
             
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Dashboard</a></li>
                {{#if logged_in}}
                <li><a id="logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>                
                {{/if}}
            </ul>
           
    {{{body}}}
</body>

<script src="/js/logout.js"></script>
</html>