<div class="container">
<h1 class="blog-title">Write to teach, read to learn, share to connect!</h1>
    {{!-- {{#each blog as |blog|}} --}}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title">Post Name</span>
                    <p class="review-comment">Comment</p>

                </div>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
</div>